.formWrapper {
	display: flex;
	flex-direction: column;
	gap: 35px;
	margin-bottom: 62px;
}

.action {
	width: 100%;
	max-width: 229px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	background: var(--black-variant);
	border-radius: 8px;

	font-family: inherit;
	font-size: 15px;
	font-weight: 700;
	line-height: 140%;
	color: var(--white);

	cursor: pointer;
	transition: 0.3s background ease-in-out;

	&:hover {
		background: var(--black);
	}
}
