.card {
	padding: 10px;
	border: 1px solid #f5f5f7;
	border-radius: 5px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.imageWrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 15px;

	background: var(--blue-light);
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerLeft {
	display: flex;
	gap: 10px;
	align-items: center;
}

.theme {
	position: relative;

	display: flex;
	gap: 10px;
	align-items: center;

	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: var(--gray-variant);

	&::after {
		content: '';

		display: inline-block;

		width: 2px;
		height: 2px;
		border-radius: 50%;

		background: var(--gray-variant);
	}
}

.timestamp {
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: var(--gray);
}

.heading {
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	color: var(--black);
}

.paragraph {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: var(--gray);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.timeToRead {
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: var(--gray);
}

.link {
	display: flex;
	gap: 4px;
	align-items: center;
	text-decoration: none;
}

.linkText {
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: var(--blue);
}
