:root {
	--black: #2c2c2c;
	--black-variant: #303030;
	--gray: #6e6e6e;
	--gray-variant: #4b4b4b;
	--white: #fff;
	--blue: #1473e6;
	--blue-light: #e5f4ff;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;

	width: 100%;
	max-width: 1205px;
	min-height: 100vh;
	margin: auto;

	background: var(--white);
}

button {
	font-family: inherit;
}

.app {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
