.cardGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media (width <= 1200px) {
	.cardGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 820px) {
	.cardGrid {
		grid-template-columns: repeat(1, 1fr);
	}
}
