.post {
	padding: 10px;
	border: 1px solid #f5f5f7;
	border-radius: 5px;
}

.userId {
	padding: 5px 10px;
	border-radius: 4px;

	font-size: 12;
	font-weight: 600;
	color: var(--black);

	background-color: var(--blue-light);
}

.title {
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	color: var(--black);
}

.body {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: var(--gray);
}
