.header {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.postInformation {
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	gap: 10px;
}

.userId,
.id {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: var(--gray);

	&::after {
		content: '';
		background: var(--gray-variant);
		border-radius: 50%;
		width: 2px;
		height: 2px;
		display: inline-block;
	}
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.commentsWrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.comment {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.commentHeader {
	display: flex;
	align-items: center;
	gap: 7px;
}

.commentName {
	font-size: 12px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.commentEmail {
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: var(--gray);
}

.commentBody {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.like {
	display: flex;
	align-items: center;
	gap: 15px;
}
