:root {
	--black: #2c2c2c;
	--black-variant: #303030;
	--gray: #6e6e6e;
	--gray-variant: #4b4b4b;
	--white: #fff;
	--blue: #1473e6;
	--blue-light: #e5f4ff;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;

	width: 100%;
	max-width: 1205px;
	min-height: 100vh;
	margin: auto;

	background: var(--white);
}

.header {
	width: 100%;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.header-logo {
	font-size: 40px;
	font-weight: 300;
	line-height: normal;
	color: var(--black);
}

button {
	font-family: inherit;
}
