.likeButton {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;
	border-radius: 50%;

	background: none;

	stroke: 1px solid var(--black-variant);

	svg {
		width: 16px;
		height: 16px;
		stroke: var(--black-variant);
	}

	&.liked {
		background: var(--black-variant);

		svg {
			stroke: var(--white);
		}
	}
}
